<html>
    <head>
        {% if title %}
        <title>Onside | {{ title }}</title>
        {% else %}
        <title>Onside</title>
        {% endif %}
    </head>
    <body>
        <div> Onside: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('search') }}">Enter a Video</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}
    </body>
</html>